DATABASE_URL=postgres://username:password@postgres:5432/atstex?sslmode=disable

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/auth/google/callback

OPENAI_API_KEY=
